<section class="callback">
 
    <div class="div-call"> 
         <picture>
      <source
        srcset="
        ./img/callback-section/desk-rectangle.jpg 1x,
        ./img/callback-section/desk-rectangle@2.jpg 2x
        "
        media="(min-width: 1360px)"
        width="680"
        height="460"
      />
      <source
      srcset="
      ./img/callback-section/tab-rectangle.jpg 1x,
      ./img/callback-section/tab-rectangle@2.jpg 2x
     "
        media="(min-width: 768px)"
        width="384"
        height="349"
      />
      <source
      srcset="
      ./img/callback-section/tel-rectangle.jpg 1x,
      ./img/callback-section/tel-rectangle@2.jpg 2x
     "
        media="(max-width: 767px)"
        width="320"
        height="220"
      />
      <img
      src="./img/callback-section/tel-rectangle.jpg"
      alt="Request Callback"
    />
    </picture> </div>


    <form class="form">
      <div class="form-div">
        <h2 class="call-h">Request Callback</h2>
      </div>
      <div class="input-lb">
        <label for="name" class="label-name">
          <input type="text" placeholder="Enter your name" name="name">
        </label>
        <label for="email" class="label-email">
          <input type="email" class="email-marg" placeholder="Enter email*" name="email">
        </label>
      </div>
      <div class="btn-div"><button type="submit" class="btn">Send</button></div>
    </form>
</section>
