   
<!-- Нижний контейнер (footer) -->
<footer class="footer">
  <div class="footer-div">
    <ul class="footer-lu">
      <li>
        <a class="footer-a" target="_blank" href="https://www.facebook.com/" >
          <svg width="35" height="35" class="footer-svg">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-a" target="_blank" href="https://www.x.com" >
          <svg width="35" height="35" class="footer-svg">
            <use href="../img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-a" target="_blank" href="https://www.youtube.com/" >
          <svg width="40" height="35" class="footer-svg">
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="footer-a" target="_blank" href="https://www.linkedin.com" >
          <svg width="31" height="35" class="footer-svg">
            <use href="../img/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-p">Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
    