<section class="container-solution">
  <div>
    <picture>
      <source
        media="(min-width: 1360px)"
        srcset="
          /img/solution-section/desktop_1x.jpg 1x,
          /img/solution-section/desktop_2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/solution-section/tablet_1x.jpg 1x,
          /img/solution-section/tablet_2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/solution-section/mobile_1x.jpg 1x,
          /img/solution-section/mobile_2x.jpg 2x
        "
      />
      <img src="/img/solution-section/Rectangle.jpg" alt="Rectangle" />
    </picture>
  </div>
  <div class="solution-section">
    <h3 class="text-solution solution-section-h3">What you are looking for</h3>
    <h1 class="text-solution solution-section-h1">
      We provide bespoke solutions
    </h1>
    <p class="text-solution solution-section-p">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="solution-section-btn" type="button">Read More</button>
  </div>
</section>
