/* ---------- Мобилка ---------- */
.container-solution {
  max-width: 320px;
  max-height: 750px;
  background-color: #28a745;

  display: flex;
  flex-direction: column;
  margin: auto;
}

.solution-section {
  display: block;
  padding: 30px 0;
  padding-left: 30px;
}

.solution-section-h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  color: #fff;
  margin-bottom: 6px;
}

.solution-section-h1 {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #fff;
  max-width: 204px;
  margin-bottom: 24px;
}

.solution-section-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  max-width: 260px;
  margin-bottom: 12px;
}

.solution-section-btn {
  display: block;
  min-width: 167px;
  height: 50px;
  padding: 10px 30px;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-section-btn:hover,
.solution-section-btn:focus {
  color: black;
  background-color: #fff;
}

/* ---------- Планшет ---------- */
@media screen and (min-width: 768px) {
  .container-solution {
    max-width: 768px;

    flex-direction: row;
  }

  .solution-section-h3 {
    font-size: 20px;
    line-height: 1.64;
  }

  .solution-section-p {
    font-size: 18px;
    line-height: 1.56;
    max-width: 315px;
  }
}

/* ---------- Десктоп ---------- */
@media screen and (min-width: 1360px) {
  .container-solution {
    max-width: 1360px;
  }

  .solution-section {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .solution-section-h1 {
    max-width: 541px;
  }

  .solution-section-p {
    max-width: 606px;
  }
}
